

div{
  display:block;
  }

  input{
  background-color: #000000;
  color: #4cc417;
  border-radius: 10%;
  text-align:center;
  font-family: helvetica;
  border-style:solid;
  width:65px;
  height:65px;
  font-size:25px;
  display:inline-block;
  font:white;
  visibility: hidden;
  pointer-events:none;
}
.start{
  visibility: visible;
}

#main{
   position:absolute;
   top:230px;
   left:465px;
   border-width: 1px;
   border-style:solid;

}
#submain{

  visibility: hidden;
}

body{
  margin:0;
  background-color: rgba(0,0,0,0.8);
}

#start
{
  pointer-events: auto;
  width:130px;
  height:65px;
  border-radius: 15%;
  position:absolute;
  top:150px;
  left:573px;
}
#restart
{
  pointer-events: auto;
  display:none;
  width:130px;
  height:65px;
  border-radius: 15%;
  position:absolute;
  top:150px;
  left:573px;
  float:right;
}

#quit
{
  pointer-events: auto;
  display:none;
  width:130px;
  height:65px;
  border-radius: 15%;
  position:absolute;
  top:150px;
  left:573px;
  float:right;
}

h1{
  position:absolute;
  display:block;
  top:0px;
  left:485px;
  font-family:verdana;
  color: #4cc417;
}
p{
  position:absolute;
  top:50px;
  left:500px;
  font-family:arial;
  color: #4cc417;
}
table{
  font-size:150%;
  color:white;
}
#timehead{
  float:right;
  display:block;
  position:fixed;
  top:60px;
  right:125px;
  font-family: verdana;
  color:white;
}
#timee{
  float:right;
  display:block;
  position:fixed;
  top:90px;
  right:125px;
  font-family: verdana;
  color:white;
}
#besttimes{
  position: absolute;
  top:60px;
  left:125px;
  font-family:verdana;
  color:white;
}
#countdown
{
  display: none;
  position: absolute;
  top:85px;
  left:550px;
  font-size: 1500%;
  color: #ffffff;
}
